@model ElmahConfig
           
<div id="new-elmah-config">

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
    
        @Html.Hidden("Id", 0)

        @Html.Partial("_CreateOrEdit", Model)
         
        <button type="submit">Submit</button>
        
        @Html.ActionLink("Cancel", "Index", "Elmah", new { id = ViewBag.SiteId }, null)
    }

</div>