@model LuckySiteMonitor.Entities.ElmahConfig

<div id="elmah-config-@Model.Id">
    <h3>@Model.Name</h3>

    <div class="connection-info">
        <span class="connection-string">@Model.ConnectionString</span>
        <span class="application-filter">@Model.ApplicationFilter</span>
    </div>

    @Ajax.ActionLink("Edit", "Edit", "Elmah", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "elmah-config-" + Model.Id })
</div>
