@model Site
           
@{
    ViewBag.Title = "Summary";
}

@Html.Partial("Subnavigation", new SiteSubnavigationViewModel { Site = Model, ActiveLink = SitePageType.Summary })

<h2>@Model.Name</h2>

<div class="description">@Model.Description</div>

@Html.ActionLink("Edit", "Edit", "Sites", new { id = Model.Id }, null)